.confirm-dialog-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
  color: #a43830;
}

.confirm-dialog-icon mat-icon {
  width: 32px;
  height: 32px;
  font-size: 32px;
}

h2 {
  margin: 0 0 8px;
}

p {
  margin: 0;
}

